{% extends "base.html" %}

{% block content %}

<section id="two">
    <h2>Recent Projects</h2>

    {% if x_tag|length > 0 %} <a href="/"> ❌ {{ x_tag }} </a> {% endif %}

    <div class="row">

        {% for project in projects %}
        <article class="col-6 col-12-xsmall work-item">
            <a href="{{ project.default_link }}" class="image fit thumb" target="_blank"><img src="{{ project.thumbnail }}" alt="{{ project.title }}" /></a>
            <p>Tags:
                {% for tag in project.tags.all %}
                &nbsp;<a href='?tag={{ tag.label }}'><b> {{ tag.label }} </b></a>
                {% endfor %}
            </p>
            <h3>{{ project.title }}</h3>
            <p>{{ project.description|safe }}</p>
            <p>Links:
                {% for link in project.projectlink_set.all %}
                &nbsp;<b><a href="{{link.target}}" target="_blank">{{ link.label }}</a> </b> {% endfor %}
            </p>
        </article>
        {% endfor %}

    </div>

</section>

{% endblock %}
